header {
  padding: 10px;

  background-color: #777777;
}

.cart-button {
  padding: 5px 10px;

  border: none;
  cursor: pointer;
}

.cart-button:hover {
  opacity: 0.7;
}

.product__list {
  display: flex;
  flex-flow: wrap;
  /*justify-content: space-between;*/
  width: 1170px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.product__item {
  margin-right: 20px;
  margin-bottom: 38px;
}

.item-card {
  position: relative;
}

.item-card:hover,
.item-card:focus {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.item-card:hover .item-card__img,
.item-card:focus .item-card__img {
  filter: brightness(17%);
}

.item-card:hover>.item-card__cart,
.item-card:focus>.item-card__cart {
  display: block;
}

.item-card__link {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 263px;

  text-decoration: none;
}

.item-card__item-title {
  flex: 100%;
  margin: 0 0 12px 15px;

  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: #222;
}

.item-card__price {
  margin: 0 0 20px 15px;

  font-weight: 700;
  font-size: 16px;
  color: #f16d7f;
}

.item-card__stars {
  width: 70px;
  height: 14px;
  margin: 0;

  background-image: url('img/stars.png');
  background-repeat: no-repeat;
}

.item-card__img {
  order: -1;
  width: 263px;
  height: 281px;
  margin-bottom: 16px;
}

.item-card__cart {
  position: absolute;
  left: 50%;
  top: 100px;

  display: none;
  width: 140px;
  padding: 14px 12px 13px 42px;

  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  text-decoration: none;
  color: #ffffff;

  background-color: transparent;
  border: 1px solid #ffffff;
  transform: translateX(-50%);
  cursor: pointer;
}
